.home {
    /*background-image: url(./IMG/particula_obscuro.jpg);
    background-size: cover;
    background-position: center;*/
    background-image: linear-gradient(to right top, #0059e0, #0094ff, #00bddf, #00db84, #a8eb12);
  }

.LinkHome {
    color: rgb(247, 252, 253);
    text-align: center;
    font-size: 20px;
}

.TxtHome {
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: 40px; 
}

.pHome {
    color: #000b58;
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.PieHome {
    color: white;
    text-align: end;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 13px;
}

.RoadMap {
    /*background-image: url(./IMG/particula_obscuro.jpg);
    background-size: auto;*/
    background-image: linear-gradient(to right top, #0059e0, #0094ff, #00bddf, #00db84, #a8eb12);
}

.TitleRM {
    color: #18230f;
    text-align: center;
    font-family: cursive;
    font-size: 35px;
}

.SubT {
    color: #8e1616;
}

.Certificacion {
    /*background-image: url(./IMG/particula_obscuro.jpg);
    background-size: cover;
    background-color: bisque;*/
    background-image: linear-gradient(to right top, #0059e0, #0094ff, #00bddf, #00db84, #a8eb12);
}

.Certificacion {
    /*background-image: url(./IMG/particula_obscuro.jpg);
    background-size: cover;
    background-color: bisque;*/
    background-image: linear-gradient(to right top, #0059e0, #0094ff, #00bddf, #00db84, #a8eb12);
}

.OS {
    /*background-image: url(./IMG/particula_obscuro.jpg);
    background-size: cover;
    background-color: bisque;*/
    background-image: linear-gradient(to right top, #0059e0, #0094ff, #00bddf, #00db84, #a8eb12);
}

.Glosario {
    /*background-image: url(./IMG/particula_obscuro.jpg);
    background-size: cover;
    background-color: bisque;*/
    background-image: linear-gradient(to right top, #0059e0, #0094ff, #00bddf, #00db84, #a8eb12);
}

.ImgLeft {
    display: flex;
    align-items: center;
    gap: 250px;
    padding: 20px;
}

.ImgLeft img {
    width: 500px;
    height: auto;
}

.TxtImg {
    text-align: center;
    max-width: 800px;
}

.H1Right {
    text-align: right;
}

.ImgRight {
    display: flex;
    align-items: center;
    gap: 250px;
    padding: 20px;
    flex-direction: row-reverse;
}


