body {
    background-color: #325463;
    color: white;
    font-family: 'Segoe UI' sans-serif;
    
}

h1 {
    color: white;
    text-align: center;

}
p {
    color: #658765;
    text-align: center;

}
